<h1><a href="/">Inventory Management System</a></h1>
<p>Welcome to Inventory Management System</p>
<ul>
    <li><a href="/catalog/categories">Categories</a></li>
    <li><a href="/catalog/category/create">Create new category</a></li>
</ul>
<ul>
    <li><a href="/catalog/items">Items</a></li>
    <li><a href="/catalog/item/create">Create new item</a></li>
</ul>
