<p>The Inventory Management System has the following record counts:</p>
<ul>
    <li>
        <a href="/catalog/categories">Category</a>: <%= data.category_count %>
    </li>
    <li><a href="/catalog/items">Item</a>: <%= data.item_count %></li>
</ul>
